.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  align-content: center;
  color: yellow;
  font-family: "Spectral", serif;
  text-shadow: 1px 1px 8px black;
  font-weight: 600;
}
.submit {
  display: flex;
  justify-content: center;
  .btn {
    background: linear-gradient(to right, aqua, yellow) !important;
    font-weight: 500 !important;
    /* color: black; */
    text-shadow: 2px 2px 10px black;
    border: none !important;
  }
  .btn:hover {
    box-shadow: 0px 0px 10px;
    scale: 1.1;
    transition: 0.3s ease-in-out;
  }
  .btn:active {
    scale: 0.9;
    transition: 0.3s ease-in-out;
  }
}
.form {

  background: linear-gradient(135deg, #2c003e, #390ca3, #4362eef3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 80vh; */
  align-content: center;
  padding: 1rem;
  margin-top: 3rem;
  /* margin: 2rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  .underForm {
    margin: 1rem;
  }
}
.link-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 1rem;
  .fa-brands:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
  }
  .fa-brands:active {
    scale: 0.9;
    transition: 0.3s ease-in-out;
  }
  .fa-regular:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
  }
  .fa-regular:active {
    scale: 0.9;
    transition: 0.3s ease-in-out;
  }
}
.head {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Charm", cursive;
  font-weight: 500 !important;
  color: yellow;
  text-shadow: 1px 1px 5px black;
}
.email-name {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

@media screen and (max-width: 700px) {
  .email-name {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    margin-bottom: 5rem;
  }
}
